#image-header, img{
	width: 100%;
	margin-bottom: 20px;
}

@media all and (max-width: 640px)
{
	p{
	font-size: 2em;
    }
}

@media all and (min-width: 641px) and (max-width: 1200px)
{
	p{
	font-size: 2em;
    }
}


<VirtualHost *:80>
  ServerName blog
  ServerAlias blog
  DocumentRoot "C:\wamp64\www\blog"
  <Directory "C:\wamp64\www\blog">
    Options +Indexes +Includes +FollowSymLinks +MultiViews
    AllowOverride All
    Require local
  </Directory>
</VirtualHost>

